* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    margin-bottom: 20px;
    margin-left: 30px;
    margin-top: 20px;
}
div {
    background-color: #34495e;
    border-radius:20px; 
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 20px;
    padding: 21px;
    padding-left: 81px;
}
p {
   color: aliceblue;  
}
